@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
    font-family: 'Montserrat';
    color: rgb(67, 76, 85);
}

body {
    background-color: #f6f6f2; 
    width: 800px; 
    margin: 50px auto; 
    padding: 0 10px;
}

.foto {
    background-color: darkgray; 
    width: 250px; 
    height: 300px; 
    margin: 0 auto; 
    border-bottom-left-radius: 120px; 
    border-bottom-right-radius: 120px;
    text-align: center;
}

.contato {
    text-align: center;
    margin-top: 30px;
    margin-right: 60px;
}

img {
    border: 3px solid white;
    border-radius: 50%; 
    margin-top: 100px;
    width: 150px; 
    height: 150px;
}

section {
    width: 100%;
    display: inline-flex;
}

h3 {
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 10px;
}

h3 {
    background-color: darkgray; 
    padding: 5px; 
    border-radius: 10px;
}

table {
    width: 100%;
    margin-bottom: 60px;
}

th {
    text-align: left;
}

p, td {
    text-align: justify;
    font-family: 'Arial';
}

td {
    width: 50%;
}

address {
    display: inline-flex;
    font-size: 14px;
}

span {
    padding: 5px;
}

.sobre, .objetivos {
    text-align: justify;
}

svg {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    padding: 3px;
    border-radius: 15px;
}

#demo {
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}