body {
    background-color: #f6f6f2; 
    width: 800px; 
    border: 1px solid black; 
    margin: 50px auto; 
    padding: 10px;
}

div {
    background-color: black; 
    width: 250px; 
    height: 300px; 
    margin: 0 auto; 
    border-bottom-left-radius: 120px; 
    border-bottom-right-radius: 120px;
    text-align: center;
}

img {
    border: 3px solid white;
    border-radius: 50%; 
    margin-top: 100px;
    width: 150px; 
    height: 150px;
}

h1, h2, h3 {
    text-align: center;
}

h3 {
    background-color: darkgray; 
    padding: 5px; 
    border-radius: 10px;
}

table {
    margin: 0 auto;
}

th {
    text-align: left;
}

td {
    text-align: justify;
}

.cabecalho {
    text-align: center;
}

.sobre, .objetivos {
    text-align: justify;
}





